// app global css in SCSS form

html,
body,
#app {
  background-color: #1a1a1a;
}

img {
  max-width: 100%;
  height: auto;
}

.q-page {
  background-color: #1a1a1a;
}

.auth-page {
  background-color: #1a1a1a;
}
